<%- include('partials/header') -%>
<div class= "container mt-4">
  

  
  <div class="avatar">   
    <% if ( perfil.length >= 1 ) { %>
      <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
        <img src="<%= perfil[perfil.length-1].image %>" />
      </div>
    </div>
      <h1 class="justify-center font-semibold font-sans ml-4"> <%= user.userName %></h1>
      <div>
        <p class="justify-center font-sans ml-4">Bio: <%= perfil[perfil.length-1].bio %></p>
    
      
      <% } else{ %>  
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img src="<%# perfil[perfil.length-1].image %>" />
        </div>
      </div>
        <h1 class="justify-center font-semibold font-sans ml-4"> <%= user.userName %></h1>
        <div>
          <p class="justify-center font-sans ml-4">Bio: <%# perfil[perfil.length-1].bio %></p>
      <% } %>
    </div>
  </div>
  
 
</div>


    
      <div class= "container mt-4">
      <div class="row justify-content-center mt-1">

        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          
          <li class="col-6 justify-content-between mt-1">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li> 
        <% } %>
        </ul>
      </div>
    
    </div>
  

<!--
<div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  -->

  <%- include('partials/footer') -%>